@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

$font-1: 'Poppins', sans-serif;
$font-2: 'Raleway', sans-serif;
$font-3: 'Exo 2', sans-serif;
$transition: all .15s ease-in-out;
$transition-xv2: all .10s ease-in-out;
